body {
  background-color: #263238;
  color: #ffffff;
  font-family: "Ubuntu Mono", monospace;
  padding: 16px;
}

.main-nav {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  background-color: #37474f;
}

.main-nav__item {
  display: inline-block;
  padding: 16px;
  text-align: center;
  width: 120px;
}

.main-nav__item a {
  color: #ffffff;
  border-radius: 2px;
  padding: 12px;
  text-decoration: none;
}

/* Si quieres que ambas psudo clases contengan el mismo estilo, 
lo puedes hacer de esta manera y no tienes que escibir el mismo estilo dos veces. */
.main-nav__item:hover,
.main-nav__item:active {
  background-color: #546e7a;
  font-weight: bolder;
}

footer {
  background-color: #37474f;
  color: #a7ffeb;
  padding: 4px;
  text-align: center;
}
