/* Selector universal, con él podemos reiniciar estilos por defecto del navegador */
/* AGREGALO EN TODOS TUS PROYECTOS. */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #263238;
  color: #ffffff;
  font-family: "Ubuntu Mono", monospace;
}

main {
  border: 10px solid #607d8b;
  height: 500px;
  padding: 20px 35px;
  width: 100%;
}

footer {
  background-color: #37474f;
  color: #a7ffeb;
  padding: 4px;
  text-align: center;
}
